name: repository_dispatch
on:
  repository_dispatch:
    types: [add-node-dispatch]
  workflow_dispatch:
jobs:
  job_1:
    runs-on:
      group: openmerlin-guiyang-006-cluster
      labels: linux-arm64-npu-1
    timeout-minutes: 1200
    container:
      #image: m.daocloud.io/quay.io/ascend/vllm-ascend:v0.9.1-dev-openeuler
      # image: swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/sglang:main-910b
      image: swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/sglang:main-20250927-910b

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # all history for all branches and tags  
    - name: Ensure correct workspace directory
      shell: bash
      run: |
        ls -la
        echo "当前工作目录是: $PWD"
        cd "$GITHUB_WORKSPACE"
        echo "已切换到工作区目录: $GITHUB_WORKSPACE"
        echo "切换后目录内容:"
        ls -la
    - name: Show NPU info
      run: |
        npu-smi info
    - name: sleep1
      run: |
        sleep 120
    - name: echo
      run: |
        echo 1
    - name: sleep
      run: |
        sleep 300
