name: workflow_dispatch_npu_build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: 
      group: openmerlin-guiyang-006-cluster
      labels: linux-amd64-cpu-1
    container:
      image: swr.cn-southwest-2.myhuaweicloud.com/modelfoundry/moby/buildkit:master
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0 # all history for all branches and tags  
    - name: oci metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          swr.cn-southwest-2.myhuaweicloud.com/modelfoundry/${{ github.repository }}
        tags: |
          type=sha,event=branch
          type=raw,value=latest,enable={{is_default_branch}}
    - name: sleep
      run: |
        sleep 10
    - name: oci build
      uses: omniproc/buildkit-build-push-action@v1.0.0
      with:
          tags: ${{ steps.meta.outputs.tags }}
          addr: 'tcp://buildkitd-service.buildkitd:1234'
          output: 'type=image,push=true'
          tlsdir: '/root/.docker/'
          build-args: |
            APTMIRROR=repo.huaweicloud.com
  
